

body {
    background: linear-gradient(45deg, grey, silver, green);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3px;
       
}

li {
    border: 1px solid black;
    padding: 12px;
    margin: 8px;
    background-color: rgb(255, 255, 255, 0.6);
}

.intro {
    font-size: large;   
}

.description {
    font-size: large;
}

.itemLink {
    font-size: larger;
    overflow-wrap: anywhere;
}

h3 {
    text-decoration: underline;
}